{% extends 'base.html.twig' %}

{% block title %}Détails du Moniteur{% endblock %}

{% block body %}
    <main class="grid gap-4">
        <div class="flex justify-center">
            <a class="form-submit" href="{{ path('app_price_new', {'resourceId': priceDetails[0].Resource.id}) }}">Ajouter moniteur</a>
        </div>
        <div class="grid gap-4">
            <section class="wrapper wrapper-style flex justify-between">
                <div class="grid gap-2">
                    <h1 class="text-4xl">
                        {% if priceDetails|length > 0 %}
                            Détails de la Ressource : {{ priceDetails[0].Resource.name }}
                        {% else %}
                            Aucune donnée de prix disponible pour cette ressource
                        {% endif %}
                    </h1>
                    <p class="flex items-center uppercase text-xs">Nombre de moniteurs : <span class="ml-2 text-green-400 font-bold">{{ aggregatedData.priceCount|number_format(0, '.', ' ') }}</span></p>
                </div>
                {% if priceDetails|length > 0 %}
                    <img class="h-20 w-20" src="{{ priceDetails[0].Resource.imgUrl }}" alt="Image de la ressource {{ priceDetails[0].Resource.imgUrl }}">
                {% else %}
                    Aucune donnée de prix disponible pour cette ressource
                {% endif %}
            </section>
        </div>


        <div class="grid gap-4 lg:grid-cols-3 h-full">
            <div class="wrapper wrapper-style grid gap-4">
                <p class="uppercase text-xs flex items-center">Moyenne lot de<span class="mx-2 text-green-400 font-bold">1</span></p>
                <div class="flex items-center dark:text-white">
                    <span class="text-4xl font-bold leading-6">{{ aggregatedData.avgPriceOne|number_format(0, '.', ' ') }}</span>
                    <img class="ml-2 w-6 h-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
                </div>
            </div>
            <div class="wrapper wrapper-style grid gap-4">
                <p class="uppercase text-xs flex items-center">Moyenne lot de<span class="mx-2 text-green-400 font-bold">10</span></p>
                <div class="flex items-center dark:text-white">
                    <span class="text-4xl font-bold leading-6">{{ aggregatedData.avgPriceTen|number_format(0, '.', ' ') }}</span>
                    <img class="ml-2 w-6 h-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
                </div>
            </div>
            <div class="wrapper wrapper-style grid gap-4">
                <p class="uppercase text-xs flex items-center">Moyenne lot de<span class="mx-2 text-green-400 font-bold">100</span></p>
                <div class="flex items-center dark:text-white">
                    <span class="text-4xl font-bold leading-6">{{ aggregatedData.avgPriceHundred|number_format(0, '.', ' ') }}</span>
                    <img class="ml-2 w-6 h-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
                </div>
            </div>
        </div>

        <section>
            <div class="wrapper wrapper-style wrapper-p-0 text-sm">
                {{ include('price/includes/_detailsPrice.html.twig') }}
            </div>
        </section>

        <section class="grid lg:grid-cols-2 gap-4">
            {% for graphName, graphData in pricesGraph %}
                <div class="wrapper wrapper-style">
                    <h3>{{ graphData.title }}</h3>
                    {{ render_chart(graphData.chart) }} {# Assurez-vous que graphData.chart est bien un objet Chart #}
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
