{{ form_start(form, {'attr': {'class': 'grid lg:gap-6 gap-4'}}) }}
<div class="grid lg:grid-cols-3 gap-4 lg:gap-6">
    <div>
        {{ form_label(form.monster, 'Choisissez le monstre ', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.monster) }}
    </div>

    <div>
        {{ form_label(form.time, 'Temps', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.time) }}
    </div>

    <div>
        {{ form_label(form.videoLink, 'Lien de la vidéo youtube', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.videoLink) }}
    </div>

    <div class="flex justify-center">
        <button class="form-submit">{{ button_label|default('Créer') }}</button>
    </div>

</div>
{{ form_end(form) }}
