{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Bienvenue sur Monifus</h1>

    {#<section class="wrapper wrapper-style grid gap-6">
        <h2 class="text-center animation-text-color">Concours !</h2>
        <div class="flex items-center justify-center text-xs">
            <span>Temps restant :</span>
            <span id="countdownTimer" class="text-red-400 ml-2"></span>
        </div>
        <div class="flex justify-center flex-col items-center text-center space-y-2">
            <p><strong>Participez</strong> au concours twitter et <strong class="text-green-400">tentez de gagner</strong> :</p>
            <p class="flex items-center text-2xl dark:text-white uppercase">
                <span>10 millions </span>
                <img class="ml-2 h-6" src="{{ asset('uploads/kamas.webp') }}" alt="">
            </p>
        </div>

        <div class="flex justify-center flex-col items-center text-center space-y-2">
            <p class="mb-2">Pour ça rien de plus simple :</p>
            <a class="form-submit form-submit-twitter animate-bounce" href="https://x.com/MonifusApp/status/1778460193090638119">Cliquez ici !</a>
        </div>
    </section>

    <section class="wrapper wrapper-style grid gap-6">
        <h2 class="text-center">Nouveau !</h2>
        <div class="flex justify-center flex-col items-center text-center space-y-2">
            <p>Vous pouvez maintenant créer votre page de guilde pour la partager !</p>
            <a class="form-submit" href="https://monifus.fr/guildes/Bam_Beach">Voir un exemple</a>
            <img class="rounded-lg h-96 object-cover" src="{{ asset("uploads/guild_page.png") }}" alt="Page de guilde">
        </div>

        <div class="flex justify-center flex-col items-center text-center space-y-2">
            <p>Pour ça rien de plus simple :</p>
            <a class="form-submit form-submit-green" href="{{ path('app_guilds_new') }}">Cliquez ici !</a>
        </div>
    </section>#}

    {{ include('home/includes/_record.html.twig') }}

    {{ include('home/includes/_about.html.twig') }}

    <section class="wrapper-style wrapper">
        <div class="wrapper wrapper-yellow uppercase justify-center">
            <i class="hidden md:block" data-feather="alert-triangle"></i>
            <p class="md:mx-4">Aucun bot n'est utilisé sur ce site web. Ni aucun système de lecture de donnée du jeu hormis les données disponibles via l'<a class="link" href="https://dofusdb.fr/fr/">API DofusDB</a>. Tout le reste doit être renseigné manuellement.</p>
            <i class="hidden md:block" data-feather="alert-triangle"></i>
        </div>
    </section>

    <section class="wrapper-style wrapper grid text-center gap-16">
        <div class="grid gap-4">
            <h2>Pour un usage plus poussé du site, retrouvez la documentation</h2>
            <p>Cliquez sur le bouton ci-dessous pour accéder à la documentation.</p>
            {{ include('includes/documentation.html.twig') }}
        </div>

        <div class="grid gap-4">
            <h2>Rejoignez-nous sur les réseaux</h2>
            <p>Rejoignez notre communauté grandissante !</p>
            <div class="flex justify-center space-x-4">
                <a class="form-submit form-submit-discord" href="https://discord.gg/KVZP5Cyf9Q">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M104,140a12,12,0,1,1-12-12A12,12,0,0,1,104,140Zm60-12a12,12,0,1,0,12,12A12,12,0,0,0,164,128Zm74.45,64.9-67,29.71a16.17,16.17,0,0,1-21.71-9.1l-8.11-22q-6.72.45-13.63.46t-13.63-.46l-8.11,22a16.18,16.18,0,0,1-21.71,9.1l-67-29.71a15.93,15.93,0,0,1-9.06-18.51L38,58A16.07,16.07,0,0,1,51,46.14l36.06-5.93a16.22,16.22,0,0,1,18.26,11.88l3.26,12.84Q118.11,64,128,64t19.4.93l3.26-12.84a16.21,16.21,0,0,1,18.26-11.88L205,46.14A16.07,16.07,0,0,1,218,58l29.53,116.38A15.93,15.93,0,0,1,238.45,192.9ZM232,178.28,202.47,62s0,0-.08,0L166.33,56a.17.17,0,0,0-.17,0l-2.83,11.14c5,.94,10,2.06,14.83,3.42A8,8,0,0,1,176,86.31a8.09,8.09,0,0,1-2.16-.3A172.25,172.25,0,0,0,128,80a172.25,172.25,0,0,0-45.84,6,8,8,0,1,1-4.32-15.4c4.82-1.36,9.78-2.48,14.82-3.42L89.83,56s0,0-.12,0h0L53.61,61.93a.17.17,0,0,0-.09,0L24,178.33,91,208a.23.23,0,0,0,.22,0L98,189.72a173.2,173.2,0,0,1-20.14-4.32A8,8,0,0,1,82.16,170,171.85,171.85,0,0,0,128,176a171.85,171.85,0,0,0,45.84-6,8,8,0,0,1,4.32,15.41A173.2,173.2,0,0,1,158,189.72L164.75,208a.22.22,0,0,0,.21,0Z"></path></svg>
                    Discord
                </a>
                <a class="form-submit form-submit-twitter" href="https://twitter.com/MonifusApp">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M247.39,68.94A8,8,0,0,0,240,64H209.57A48.66,48.66,0,0,0,168.1,40a46.91,46.91,0,0,0-33.75,13.7A47.9,47.9,0,0,0,120,88v6.09C79.74,83.47,46.81,50.72,46.46,50.37a8,8,0,0,0-13.65,4.92c-4.31,47.79,9.57,79.77,22,98.18a110.93,110.93,0,0,0,21.88,24.2c-15.23,17.53-39.21,26.74-39.47,26.84a8,8,0,0,0-3.85,11.93c.75,1.12,3.75,5.05,11.08,8.72C53.51,229.7,65.48,232,80,232c70.67,0,129.72-54.42,135.75-124.44l29.91-29.9A8,8,0,0,0,247.39,68.94Zm-45,29.41a8,8,0,0,0-2.32,5.14C196,166.58,143.28,216,80,216c-10.56,0-18-1.4-23.22-3.08,11.51-6.25,27.56-17,37.88-32.48A8,8,0,0,0,92,169.08c-.47-.27-43.91-26.34-44-96,16,13,45.25,33.17,78.67,38.79A8,8,0,0,0,136,104V88a32,32,0,0,1,9.6-22.92A30.94,30.94,0,0,1,167.9,56c12.66.16,24.49,7.88,29.44,19.21A8,8,0,0,0,204.67,80h16Z"></path></svg>
                    Twitter
                </a>
            </div>
        </div>
    </section>

    <script>
        function updateCountdown() {
            const now = new Date();
            const expirationDate = new Date(now.getFullYear(), 4, 11); // 4 pour mai (les mois commencent à 0)
            if (now > expirationDate) {
                // Si la date actuelle dépasse la date d'expiration
                document.getElementById("countdownTimer").innerHTML = "Concours terminé.";
                clearInterval(intervalID); // Arrête l'intervalle
                return;
            }
            const totalSeconds = (expirationDate - now) / 1000;
            // Calculer jours, heures, minutes et secondes
            const days = Math.floor(totalSeconds / 3600 / 24);
            const hours = Math.floor(totalSeconds / 3600) % 24;
            const minutes = Math.floor(totalSeconds / 60) % 60;
            const seconds = Math.floor(totalSeconds) % 60;
            // Mettre à jour le HTML
            document.getElementById("countdownTimer").innerHTML = `${days} jours ${hours} heures ${minutes} minutes ${seconds} secondes`;
        }
        const intervalID = setInterval(updateCountdown, 1000); // Conserver l'ID de l'intervalle pour pouvoir l'arrêter
    </script>

{% endblock body %}
