{% extends 'base.html.twig' %}

{% block title %}Records | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Monstres avec Records</h1>

    {{ include('includes/documentation.html.twig') }}

    <div class="flex justify-center">
        <a class="form-submit" href="{{ path('app_record_new') }}">Nouveau record</a>
    </div>

    <section class="grid gap-4 lg:grid-cols-3 xl:grid-cols-4">
        {% for monster in monsters %}
            <a class="wrapper wrapper-style hover:shadow-2xl transition duration-300 relative grid gap-2" href="{{ path('app_monster_show', {'id': monster.id}) }}">
                <div class="flex items-center justify-between">
                    <div>
                        <h2 class="font-bold">{{ monster.name }}</h2>
                        {% set recordCount = recordCounts|filter(count => count.id == monster.id)|first %}
                        <p class="uppercase text-xs">Nombre de soumissions : {{ recordCount.recordCount }}</p>
                    </div>
                    <img class="ml-4 h-full max-h-28" src="{{ monster.imgUrl }}" alt="image de {{ monster.name }}">
                </div>
                <div class="grid gap-1">
                    <div class="flex items-center">
                        <i class="text-primary-500 w-4 mr-2" data-feather="clock"></i>
                        {% set bestRecord = bestRecords|filter(record => record.monster.id == monster.id)|first %}
                        <span class="font-bold text-tertiary-400">{{ bestRecord.time|date('H:i:s') }}</span>
                    </div>
                    <div class="flex">
                        <i class="text-primary-500 w-4 mr-2" data-feather="user"></i>
                        <span class="font-bold text-tertiary-400">{{ bestRecord.user.pseudonymeWebsite }}</span>
                    </div>
                </div>
                <div class="bg-secondary absolute top-0 left-0 w-full h-full opacity-0 hover:opacity-100 bg-opacity-80 backdrop-blur-xl transition duration-300 flex items-center justify-center">
                    <p class="text-white text-lg font-bold family underline">Voir</p>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}
