{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">XPETifus</h1>
    <main class="grid gap-4">
        <section class="grid gap-8">
            <div class="grid lg:grid-cols-2 gap-4">
                <div class="grid gap-4 wrapper wrapper-style">
                    <h2 class="text-center">Rentabilité de la ressource</h2>
                    {% if profitability is not null %}
                        {% if profitability == 0 %}
                            <p class="wrapper wrapper-yellow justify-center">Peut-être que l'xp de la ressource n'est pas renseigné, merci de bien vouloir nous indiquer le montant sur le <a class="link mx-2" href="https://discord.link/VotreServeurDiscord">Discord</a> pour que l'on puisse le mettre à jour. L'équipe Monifus.</p>
                        {% endif %}
                    {% endif %}
                    <img class="w-48 mx-auto" src="{{ asset('uploads/dragoune.png') }}" alt="Image dragoune Dofus">
                    {{ form_start(formXpPetPercent, {'attr': {'class': 'form-wrapper'}}) }}
                    {{ form_row(formXpPetPercent.resource) }}
                    {{ form_row(formXpPetPercent.price) }}
                    {{ form_row(formXpPetPercent.submit) }}
                    {{ form_end(formXpPetPercent) }}

                    {% if profitability is not null %}
                        <div class="grid gap-4 justify-center">
                            <div>Rentabilité : <strong class="text-green-400">{{ profitability }}%</strong></div>
                        </div>
                    {% endif %}

                    <h3>A quoi ça sert ?</h3>
                    <p>Cet outil vous permet de calculer le pourcentage de profit d'une ressource en fonction de l'expérience de son prix.</p>
                    <h3>Comment ça fonctionne ?</h3>
                    <ol class="list-decimal list-inside grid gap-2">
                        <li>Renseignez simplement la ressource souhaitée et son prix à <strong>l'unité</strong>.</li>
                        <li>Lancez le calcul.</li>
                        <li>Observez le résultat.</li>
                    </ol>

                    <p>Un bon nombre de ressources n'est pas renseigné et le résultat peut-être 0 à de nombreuses reprises. Veuillez nous informer des valeurs pour que l'on puisse mettre à jour.</p>
                </div>

                <div class="grid gap-4 wrapper wrapper-style">
                    <h2 class="text-center">Prix d'un point d'expérience</h2>
                    {% if profitability is not null %}
                        {% if profitability == 0 %}
                            <p class="wrapper wrapper-yellow justify-center">Peut-être que l'xp de la ressource n'est pas renseigné, merci de bien vouloir nous indiquer le montant sur le <a class="link mx-2" href="https://discord.link/VotreServeurDiscord">Discord</a> pour que l'on puisse le mettre à jour. L'équipe Monifus.</p>
                        {% endif %}
                    {% endif %}
                    <img class="w-48 mx-auto" src="{{ asset('uploads/bworky.png') }}" alt="Image dragoune Dofus">

                    {{ form_start(formXpPetNumber, {'attr': {'class': 'form-wrapper'}}) }}
                    {{ form_row(formXpPetNumber.resource) }}
                    {{ form_row(formXpPetNumber.price) }}
                    {{ form_row(formXpPetNumber.submit) }}
                    {{ form_end(formXpPetNumber) }}

                    {% if profitability is not null %}
                        <div class="grid gap-4 justify-center">
                            <div>Rentabilité : <strong class="text-green-400">{{ number }} kamas</strong></div>
                        </div>
                    {% endif %}

                    <h3>A quoi ça sert ?</h3>
                    <p>Cet outil vous permet de calculer le coup d'un point d'expérience en fonction de la ressource et de son prix.</p>
                    <h3>Comment ça fonctionne ?</h3>
                    <ol class="list-decimal list-inside grid gap-2">
                        <li>Renseignez simplement la ressource souhaitée et son prix à <strong>l'unité</strong>.</li>
                        <li>Lancez le calcul.</li>
                        <li>Observez le résultat.</li>
                    </ol>

                    <p>Un bon nombre de ressources n'est pas renseigné et le résultat peut-être 0 à de nombreuses reprises. Veuillez nous informer des valeurs pour que l'on puisse mettre à jour.</p>
                </div>
            </div>
        </section>

        <form action="{{ path('app_xp_pet') }}" method="get" class="grid gap-2">
            <label class="form-label" for="search">Recherchez une ressource</label>
            <div class="flex space-x-2">
                <input value="{{ search }}" id="search" class="form-input h-full flex-1" type="text" name="search" placeholder="Galet brasillant" />
                <button class="wrapper wrapper-green h-14 w-14 flex justify-center font-semibold" type="submit">GO</button>

                <a class="wrapper wrapper-red h-14 w-14 flex justify-center" href="{{ path('app_xp_pet') }}">
                    <i data-feather="trash" class="w-4 h-4"></i>
                </a>
            </div>
        </form>

        <section class="wrapper wrapper-style wrapper-p-0 text-sm">
            <table class="w-full text-left rtl:text-right">
                <thead class="text-xs uppercase">
                <tr class="border-b border-gray-300 dark:border-gray-700">
                    <th scope="col" class="p-2 ">
                        <span class="hidden sm:block text-xs"></span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family"></span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="hidden sm:block text-xs">Nom de l'</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">item</span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="sm:block text-xs">Level de l'</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">item</span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="hidden sm:block text-xs">Xp de l'</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">item</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for resource in pagination %}
                    <tr class="border-b border-gray-300 dark:border-gray-700">
                        <td class="p-2 hidden xl:table-cell">
                            {% if resource.getImgUrl() %}
                                <img class="w-8" src="{{ resource.getImgUrl() }}" alt="Image de {{ resource.getName() }}">
                            {% endif %}
                        </td>
                        <td class="p-2">{{ resource.getName() }}</td>
                        <td class="p-2 hidden xl:table-cell">{{ resource.getLevel() }}</td>
                        <td class="p-2 hidden xl:table-cell">{{ resource.getXpPet }}</td>
                    </tr>
                {% else %}
                    <tr class="border-b border-gray-300 dark:border-gray-700">
                        <td class="p-2 hidden xl:table-cell">Aucune ressource trouvée.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="flex justify-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>
{% endblock %}
