{% extends 'base_form.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="wrapper-style wrapper wrapper-size">
        <img class="mx-auto w-16" src="{{ asset('uploads/logo.svg') }}" alt="Logo Monifus">
        <div class="space-y-4 md:space-y-6 mt-4">
            <h1 class="text-center">Inscription</h1>
            {{ form_start(registrationForm, {'attr': {'class': 'form-wrapper'}}) }}
            <div>
                {{ form_label(registrationForm.email, 'Votre email') }}
                {{ form_widget(registrationForm.email) }}
            </div>
            <div>
                {{ form_label(registrationForm.pseudonymeWebsite, 'Pseudo sur le site') }}
                {{ form_widget(registrationForm.pseudonymeWebsite) }}
            </div>
            <div>
                {{ form_label(registrationForm.pseudonymeDofus, 'Pseudo en jeu') }}
                {{ form_widget(registrationForm.pseudonymeDofus) }}
            </div>
            <div>
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>

            <div class="flex items-center justify-between">
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                    <div class="ml-3 text-sm">
                        {{ form_label(registrationForm.agreeTerms) }}
                        <label for="remember" class="text-gray-500 dark:text-gray-300">J'accepte les conditions générales d'utilisation</label>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                {{ form_widget(registrationForm.submit) }}
            </div>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Déjà inscrit? <a href="{{ path('app_login') }}"
                                 class="font-medium text-primary-600 hover:underline dark:text-primary-500">Connexion</a>
            </p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
