<div class="tab-pane">
    <h2>Guildes</h2>

    <div class="grid gap-4">
        <h3>Principe des guildes :</h3>
        <p>Les pages de guildes sont une présentation de votre guilde afin d'en partager un lien sur les réseaux (Twitter, Twitch, Discord...). Elles sont <strong>principalement destinées à promouvoir</strong> votre guilde pour recruter de nouveau joueur.</p>
        <a class="link" href="https://monifus.fr/guildes/Bam_Beach">Exemple</a>
    </div>

    <div class="grid gap-4">
        <h3>Ajouter une guilde :</h3>
        <img src="{{ asset('documentation/guilds_new.png') }}" alt="Image page ajouter vente">
        <p class="wrapper wrapper-green justify-center">Vous pourrez modifiez n'importe quelle guilde plus tard.</p>
        <p>Les valeurs obligatoires sont <strong>le nom</strong>, et la <strong>description</strong>.</p>
        <p>Pour les images, je vais inclure un tutoriel prochainement qui expliquera comment récupérer le blason de votre guilde de manière propre.</p>
    </div>


    <div class="grid gap-4">
        <h3>Page principale des guildes :</h3>
        <p>Une fois votre guilde créée, vous la retrouvez sur la <a class="link" href="{{ path('app_sale') }}">page principale</a> des guildes :</p>
        <img src="{{ asset('documentation/guilds_index.png') }}" alt="Image card Profit">
        <p>Vous y retrouvez toutes les autres guildes que les joueurs ont ajoutées</p>
    </div>

    <div class="grid gap-4">
        <h3>Modification / Suppression d'une guilde :</h3>
        <p>Vous pouvez modifier votre guilde depuis la <a href="{{ path('app_home') }}">page d'accueil</a></p>
        <p>Vous pouvez également quitter une guilde depuis le bouton quitter.</p>
        <p class="wrapper wrapper-red justify-center">Quitter une guilde est irréversible. Aucun historique n'est mis en place.</p>
    </div>

    <div class="flex justify-center space-x-4">
        <a class="form-submit" href="{{ path("app_price_index") }}">Accueil</a>
        <a class="form-submit" href="{{ path("app_guilds") }}">Guildes</a>
    </div>
</div>