<div class="tab-pane">
    <h2>Ventes</h2>
    <p>Principe des ventes : Les ventes sont un historique de vos achats. Vous n'avez qu'à sélectionner le bon item, renseigner le prix d'achat et de vente :</p>
    <img src="{{ asset('documentation/sale_new.webp') }}" alt="Image page ajouter vente">
    <p>Vous pourrez modifiez n'importe quelle vente plus tard.</p>
    <p>Les valeurs obligatoires sont l'item, et le prix d'achat</p>
    <p>L'application se charge de calculer les différentes valeurs automatiquement. Et vous retrouvez un historique de vos achats avec la possibilité de modifier ou de supprimer :</p>
    <img src="{{ asset('documentation/sale_table.webp') }}" alt="Image tables ventes">

    <h3>Explication items du panel :</h3>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/profit.webp') }}" alt="Image card Profit">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Profit :</span>
            Le profit représente la totalité des kamas que vous avez gagné (uniquement les items marqués vendus).
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/profit_percent.webp') }}" alt="Image card Profit %">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Profit % :</span>
            Le profit % représente le pourcentage total de profit que vous avez réalisé (uniquement les items marqués vendus).
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/profit_pending.webp') }}" alt="Image card Profit en attente">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Profit en attente :</span>
            Le profit en attente représente la totalité des kamas qu'il vous reste à gagner.
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/total_items.webp') }}" alt="Image card Total items">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Total items :</span>
            Total items représente le nombre d'items mis en vente.
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/total_items_sell.webp') }}" alt="Image card Total items vendus">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Total items vendus :</span>
            Total items vendus représente le nombre d'items vendus (uniquement les items marqués vendus).
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/invested.webp') }}" alt="Image card Investi">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Investi :</span>
            Investi représente le nombre de kamas dépensés dans l'achat/revente
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/taxe.webp') }}" alt="Image card Taxe">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Taxe :</span>
            La taxe représente les kamas dépensés lors de la mise en vente en HDV (uniquement les items marqués vendus).
        </p>
    </div>
    <div class="flex items-center space-x-2">
        <img class="w-72" src="{{ asset('documentation/total_sell.webp') }}" alt="Image card Mis en vente">
        <p>
            <span class="text-tertiary-400 dark:text-tertiary-400">Mis en vente :</span>
            Mis en vente représente la totalité des kamas que vous avez mis en vente.
        </p>
    </div>
</div>