<div id="section3" class="grid gap-8">
    <h2 class="text-primary-400 dark:text-primary-400 text-4xl font-semibold mb-3">Ventes</h2>
    <div class="grid gap-8">
        <p>Principe des ventes : Les ventes sont un historique de vos achats. Vous n'avez qu'à sélectionner le bon item, renseigner le prix d'achat et de vente :</p>
        <img class="rounded-lg" src="{{ asset('documentation/sale_new.png') }}" alt="Image page ajouter vente">
        <p>Vous pourrez modifiez n'importe quelle vente plus tard.</p>
        <p>Les valeurs <strong class="text-red-400">obligatoires</strong> sont <strong class="text-green-400">l'item</strong>, et le <strong class="text-green-400">prix d'achat</strong></p>
        <p>L'application se charge de calculer les différentes valeurs automatiquement. Et vous retrouvez un historique de vos achats avec la possibilité de <strong class="text-green-400">modifier</strong> ou de <strong class="text-red-400">supprimer</strong> :</p>
        <img class="rounded-lg" src="{{ asset('documentation/sale_table.png') }}" alt="Image tables ventes">
    </div>

    <p>Explication items du panel :</p>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/profit.png') }}" alt="Image card Profit">
        <h3 class="text-xl underline">Profit :</h3>
        <p>Le profit représente la totalité des kamas que vous avez gagné (uniquement les items marqués vendus).</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/profit_percent.png') }}" alt="Image card Profit %">
        <h3 class="text-xl underline">Profit % :</h3>
        <p>Le profit % représente le pourcentage total de profit que vous avez réalisé (uniquement les items marqués vendus).</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/profit_pending.png') }}" alt="Image card Profit en attente">
        <h3 class="text-xl underline">Profit en attente :</h3>
        <p>Le profit en attente représente la totalité des kamas qu'il vous reste à gagner.</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/total_items.png') }}" alt="Image card Total items">
        <h3 class="text-xl underline">Total items :</h3>
        <p>Total items représente le nombre d'items mis en vente.</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/total_items_sell.png') }}" alt="Image card Total items vendus">
        <h3 class="text-xl underline">Total items vendus :</h3>
        <p>Total items vendus représente le nombre d'items vendus (uniquement les items marqués vendus).</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/invested.png') }}" alt="Image card Investi">
        <h3 class="text-xl underline">Investi :</h3>
        <p>Investi représente le nombre de kamas dépensés dans l'achat/revente</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/taxe.png') }}" alt="Image card Taxe">
        <h3 class="text-xl underline">Taxe :</h3>
        <p>La taxe représente les kamas dépensés lors de la mise en vente en HDV (uniquement les items marqués vendus).</p>
    </div>

    <div class="grid gap-4">
        <img class="rounded-lg" src="{{ asset('documentation/total_sell.png') }}" alt="Image card Mis en vente">
        <h3 class="text-xl underline">Mis en vente :</h3>
        <p>Mis en vente représente la totalité des kamas que vous avez mis en vente.</p>
    </div>
</div>