{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="text-center">Réinitialiser le mot de passe</h1>

    <section class="wrapper wrapper-style grid gap-4">
        <p>Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>

        {{ form_start(requestForm, {'attr': {'class': 'grid gap-4'}}) }}
        {{ form_row(requestForm.email) }}
        <div class="flex justify-start">
            {{ form_widget(requestForm.submit) }}
        </div>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
