{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Profil</h1>

    <section class="grid gap-4 lg:gap-6 lg:grid-cols-3">
        <div class="wrapper wrapper-style grid gap-4 lg:gap-6">
            <div class="flex items-center">

                {% set profileImage = app.user.profilePicture ? ('images/profiles/' ~ app.user.profilePicture) : 'uploads/profil_thumb.png' %}
                <div class="rounded-full w-16 h-16 mr-4 bg-cover bg-center" style="background-image:url('{{ asset(profileImage) }}')"></div>

                <h2 class="text-xl font-extrabold">{{ app.user.pseudonymeWebsite }}</h2>
            </div>
            <div>
                <p>Email : {{ app.user.email }}</p>
                <p>Contact sur Dofus : <span class="text-primary-500 font-bold">{{ app.user.pseudonymeDofus }}</span></p>
            </div>
        </div>

        {% set coverImage = app.user.coverPicture ? ('images/covers/' ~ app.user.coverPicture) : 'uploads/cover.webp' %}
        <div class="w-full h-64 rounded-lg lg:col-span-2 overflow-hidden bg-cover bg-center p-4" style="background-image:url('{{ asset(coverImage) }}')">
            <h2 class="text-xl font-extrabold">Photo de couverture</h2>
        </div>

        <div class="wrapper wrapper-style lg:col-start-2 lg:col-span-2 grid gap-4 lg:gap-6">
            <h2 class="text-xl font-extrabold">Informations générales</h2>
            {{ form_start(editForm, {'attr': {'class': 'grid md:grid-cols-2 lg:gap-6 gap-4'}}) }}
                {{ form_row(editForm.pseudonymeWebsite) }}
                {{ form_row(editForm.pseudonymeDofus) }}
                {{ form_row(editForm.profilePictureFile) }}
                {{ form_row(editForm.coverPictureFile) }}
                {{ form_widget(editForm.submit) }}
            {{ form_end(editForm) }}
        </div>
    </section>
{% endblock %}
