{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Mon profil</h1>
    <main class="grid 2xl:grid-cols-4 gap-4">
        <section class="col-span-1 flex flex-col space-y-4">

            {% set backgroundImageUrl = '' %}
            {% if app.user.coverPicture is not empty %}
                {% set backgroundImageUrl = asset('images/covers/' ~ app.user.coverPicture) %}
            {% else %}
                {% set backgroundImageUrl = asset('uploads/cover.webp') %}
            {% endif %}
            <div style="background-image: url('{{ backgroundImageUrl }}')" class="profile-cover"></div>

            <div class="p-4 border rounded-lg wrapper-style relative grid gap-4">
                <h3>Pseudonymes :</h3>

                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Pseudonyme sur le site :</p>
                    <p class="text-primary-400">{{ app.user.pseudonymeWebsite }}</p>
                </div>

                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Pseudonyme sur Dofus :</p>
                    <p class="text-primary-400">{{ app.user.pseudonymeDofus }}</p>
                </div>

                <p class="text-center italic">
                    {% if app.user.description is not empty %}
                        {{ app.user.description }}
                    {% else %}
                        Aucune description.
                    {% endif %}
                </p>

                {% set backgroundImageUrl = '' %}
                {% if app.user.profilePicture is not empty %}
                    {% set backgroundImageUrl = asset('images/profiles/' ~ app.user.profilePicture) %}
                {% elseif app.user.classe is not empty %}
                    {% set backgroundImageUrl = asset('classes/' ~ app.user.classe.imgUrl) %}
                {% else %}
                    {% set backgroundImageUrl = asset('uploads/logo.jpg') %}
                {% endif %}
                <div style="background-image: url('{{ backgroundImageUrl }}')" class="profile-thumb"></div>
            </div>
            <div class="p-4 border rounded-lg wrapper-style grid gap-4">
                <h3>Activitées :</h3>
                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Nombre de records :</p>
                    <p class="text-green-400 font-bold text-sm">0</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Nombre de ventes :</p>
                    <p class="text-green-400 font-bold text-sm">0</p>
                </div>
            </div>
            <div class="wrapper wrapper-style">
                <div class="flex justify-center">
                    <a href="{{ path('app_profil_show', {'id': app.user.id}) }}" class="form-submit">Voir la page publique</a>
                </div>
            </div>
        </section>

        <section class="2xl:col-span-3">
            <div class="grid gap-4">
                <div class="wrapper wrapper-style grid gap-4">
                    <h2>Informations personnelles</h2>
                    {{ form_start(editForm, {'attr': {'class': 'grid md:grid-cols-2 lg:gap-6 gap-4'}}) }}
                        {{ form_row(editForm.pseudonymeWebsite) }}
                        {{ form_row(editForm.pseudonymeDofus) }}
                        {{ form_row(editForm.profilePictureFile) }}
                        {{ form_row(editForm.coverPictureFile) }}
                        {{ form_widget(editForm.submit) }}
                    {{ form_end(editForm) }}
                </div>
                <div class="wrapper wrapper-style grid gap-4">
                    <h2>Informations générales</h2>
                    {{ form_start(personalDataForm, {'attr': {'class': 'grid md:grid-cols-2 lg:gap-6 gap-4'}}) }}
                        {{ form_row(personalDataForm.contact) }}
                        {{ form_row(personalDataForm.description) }}
                        {{ form_row(personalDataForm.server) }}
                        {{ form_row(personalDataForm.classe) }}
                        {{ form_widget(personalDataForm.submit) }}
                    {{ form_end(personalDataForm) }}
                </div>
                <div class="wrapper wrapper-style grid gap-4">
                    <h2>Réseaux sociaux</h2>
                    {{ form_start(socialDataForm, {'attr': {'class': 'grid md:grid-cols-2 lg:gap-6 gap-4'}}) }}
                        {{ form_row(socialDataForm.youtubeUrl) }}
                        {{ form_row(socialDataForm.twitchUrl) }}
                        {{ form_row(socialDataForm.ankamaUrl) }}
                        {{ form_row(socialDataForm.twitterUrl) }}
                        {{ form_widget(socialDataForm.submit) }}
                    {{ form_end(socialDataForm) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
