{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.pseudonymeWebsite }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Profil de {{ user.pseudonymeWebsite }}</h1>
    <main class="grid 2xl:grid-cols-4 gap-4">
        <section class="col-span-1 flex flex-col space-y-4">

            {% set backgroundImageUrl = '' %}
            {% if user.coverPicture is not empty %}
                {% set backgroundImageUrl = asset('images/covers/' ~ user.coverPicture) %}
            {% else %}
                {% set backgroundImageUrl = asset('uploads/cover.webp') %}
            {% endif %}
            <div style="background-image: url('{{ backgroundImageUrl }}')" class="profile-cover"></div>

            <div class="p-4 border rounded-lg wrapper-style relative grid gap-4">
                <h3>Pseudonymes :</h3>

                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Pseudonyme sur le site :</p>
                    <p class="text-primary-400">{{ user.pseudonymeWebsite }}</p>
                </div>

                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Pseudonyme sur Dofus :</p>
                    <p class="text-primary-400">{{ user.pseudonymeDofus }}</p>
                </div>

                <p class="text-center italic">
                    {% if user.description is not empty %}
                        {{ user.description }}
                    {% else %}
                        Aucune description.
                    {% endif %}
                </p>

                {% set backgroundImageUrl = '' %}
                {% if user.profilePicture is not empty %}
                    {% set backgroundImageUrl = asset('images/profiles/' ~ user.profilePicture) %}
                {% elseif user.classe is not empty %}
                    {% set backgroundImageUrl = asset('classes/' ~ user.classe.imgUrl) %}
                {% else %}
                    {% set backgroundImageUrl = asset('uploads/logo.jpg') %}
                {% endif %}
                <div style="background-image: url('{{ backgroundImageUrl }}')" class="profile-thumb"></div>
            </div>
            <div class="p-4 border rounded-lg wrapper-style grid gap-4">
                <h3>Activitées :</h3>
                <div class="flex justify-between items-center">
                    <p class="text-xs uppercase font-bold">Nombre de ventes :</p>
                    <p class="text-green-400 font-bold text-sm">0</p>
                </div>
            </div>
            {% if app.user %}
                {% if app.user.id == user.id %}
                    <div class="wrapper wrapper-style">
                        <div class="flex justify-center">
                            <a href="{{ path('app_profil') }}" class="form-submit">Modifier mon profil</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </section>

        <section class="2xl:col-span-3">
            <div class="grid gap-4">
                <div class="wrapper wrapper-style grid gap-4">
                    <h2>Informations personnelles</h2>
                        <div class="flex justify-between items-center">
                            <p class="text-xs uppercase font-bold">Adresse de contact :</p>
                            {% if user.contact is not empty %}
                                <p class="text-primary-400">{{ user.contact }}</p>
                            {% else %}
                                <p class="text-primary-400">Non spécifié.</p>
                            {% endif %}
                        </div>


                        <div class="flex justify-between items-center">
                            <p class="text-xs uppercase font-bold">Classe :</p>
                            {% if user.classe is not empty %}
                                <p class="text-primary-400">{{ user.classe }}</p>
                            {% else %}
                                <p class="text-primary-400">Non spécifié.</p>
                            {% endif %}
                        </div>

                        <div class="flex justify-between items-center">
                            <p class="text-xs uppercase font-bold">Serveur :</p>
                            {% if user.server is not empty %}
                                <p class="text-primary-400">{{ user.server }}</p>
                            {% else %}
                                <p class="text-primary-400">Non spécifié.</p>
                            {% endif %}
                        </div>
                </div>
                <div class="wrapper wrapper-style grid gap-4">
                    <h2>Ventes</h2>
                    <p>Ce joueur n'a aucune vente publique.</p>
                </div>
                <div class="wrapper wrapper-style grid gap-4">
                    <h2>Réseaux sociaux</h2>
                    <div class="flex space-x-2 flex-wrap">
                        {% if user.youtubeUrl %}
                            <a class="form-submit form-submit-youtube" href="{{ user.youtubeUrl }}">
                                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M164.44,121.34l-48-32A8,8,0,0,0,104,96v64a8,8,0,0,0,12.44,6.66l48-32a8,8,0,0,0,0-13.32ZM120,145.05V111l25.58,17ZM234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-15.49,113a8,8,0,0,1-4.77,5.49c-31.65,12.22-85.48,12-86,12H128c-.54,0-54.33.2-86-12a8,8,0,0,1-4.77-5.49C34.8,173.39,32,156.57,32,128s2.8-45.39,5.16-54.47A8,8,0,0,1,41.93,68c30.52-11.79,81.66-12,85.85-12h.27c.54,0,54.38-.18,86,12a8,8,0,0,1,4.77,5.49C221.2,82.61,224,99.43,224,128S221.2,173.39,218.84,182.47Z"></path></svg>
                                Youtube
                            </a>
                        {% endif %}
                        {% if user.twitterUrl %}
                            <a class="form-submit form-submit-twitter" href="{{ user.twitterUrl }}">
                                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M247.39,68.94A8,8,0,0,0,240,64H209.57A48.66,48.66,0,0,0,168.1,40a46.91,46.91,0,0,0-33.75,13.7A47.9,47.9,0,0,0,120,88v6.09C79.74,83.47,46.81,50.72,46.46,50.37a8,8,0,0,0-13.65,4.92c-4.31,47.79,9.57,79.77,22,98.18a110.93,110.93,0,0,0,21.88,24.2c-15.23,17.53-39.21,26.74-39.47,26.84a8,8,0,0,0-3.85,11.93c.75,1.12,3.75,5.05,11.08,8.72C53.51,229.7,65.48,232,80,232c70.67,0,129.72-54.42,135.75-124.44l29.91-29.9A8,8,0,0,0,247.39,68.94Zm-45,29.41a8,8,0,0,0-2.32,5.14C196,166.58,143.28,216,80,216c-10.56,0-18-1.4-23.22-3.08,11.51-6.25,27.56-17,37.88-32.48A8,8,0,0,0,92,169.08c-.47-.27-43.91-26.34-44-96,16,13,45.25,33.17,78.67,38.79A8,8,0,0,0,136,104V88a32,32,0,0,1,9.6-22.92A30.94,30.94,0,0,1,167.9,56c12.66.16,24.49,7.88,29.44,19.21A8,8,0,0,0,204.67,80h16Z"></path></svg>
                                Twitter
                            </a>
                        {% endif %}
                        {% if user.twitchUrl %}
                            <a class="form-submit form-submit-twitch" href="{{ user.twitchUrl }}">
                                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M208,32H48A16,16,0,0,0,32,48V192a16,16,0,0,0,16,16H64v32a8,8,0,0,0,13.12,6.15L122.9,208h42.2a16,16,0,0,0,10.25-3.71l42.89-35.75A15.93,15.93,0,0,0,224,156.25V48A16,16,0,0,0,208,32Zm0,124.25L165.1,192H122.9a16,16,0,0,0-10.25,3.71L80,222.92V200a8,8,0,0,0-8-8H48V48H208ZM160,136V88a8,8,0,0,1,16,0v48a8,8,0,0,1-16,0Zm-48,0V88a8,8,0,0,1,16,0v48a8,8,0,0,1-16,0Z"></path></svg>
                                Twitch
                            </a>
                        {% endif %}
                        {% if user.ankamaUrl %}
                            <a class="form-submit form-submit-ankama mt-2 md:mt-0" href="{{ user.ankamaUrl }}">
                                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 256 256"><path d="M186.66,59.56C168.47,32.29,146.54,16,128,16S87.53,32.29,69.34,59.56C50.7,87.54,40,121.23,40,152a88,88,0,0,0,176,0C216,121.23,205.3,87.54,186.66,59.56ZM128,224a72.08,72.08,0,0,1-72-72c0-27.69,9.72-58.15,26.66-83.56C97.19,46.64,115.41,32,128,32c9.5,0,22.2,8.33,34.1,21.78L122,98.67a8,8,0,0,0,4,13.09l24.6,6.15-6.5,32.52a8,8,0,0,0,6.27,9.41A7.77,7.77,0,0,0,152,160a8,8,0,0,0,7.83-6.43l8-40a8,8,0,0,0-5.9-9.33l-19.16-4.79L172.1,66.6c.42.61.83,1.22,1.24,1.84C190.28,93.85,200,124.31,200,152A72.08,72.08,0,0,1,128,224Z"></path></svg>
                                Ankama
                            </a>
                        {% endif %}

                        {% if not user.youtubeUrl and not user.twitterUrl and not user.twitchUrl and not user.ankamaUrl %}
                            <p>Aucun réseau social public.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
