{# templates/monster/show.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Records pour {{ monster.name }}</h1>
    <div class="flex justify-center flex-col items-center space-y-4">
        <a class="form-submit" href="{{ path('app_record') }}">Retour</a>
        <a class="form-submit" href="{{ path('app_record_new') }}">Nouveau record</a>
    </div>

    <section class="wrapper wrapper-style wrapper-p-0">
        <table class="w-full text-xs text-left rtl:text-right">
            <thead class="text-xs uppercase">
            <tr class="border-b border-gray-300 dark:border-gray-700 text-xs lg:text-lg">
                <th scope="col" class="p-2 ">
                    <span class="block text-xs">N°</span>
                    <span class="text-primary-400 mt-1 drop-shadow-2xl family">place</span>
                </th>
                <th scope="col" class="p-2">
                    <span class="block text-xs">Profil</span>
                    <span class="text-primary-400 mt-1 drop-shadow-2xl family">joueur</span>
                </th>
                <th scope="col" class="p-2">
                    <span class="block text-xs">Temps du</span>
                    <span class="text-primary-400 mt-1 drop-shadow-2xl family">record</span>
                </th>
                <th scope="col" class="p-2 hidden xl:table-cell">
                    <span class="block text-xs">Date du</span>
                    <span class="text-primary-400 mt-1 drop-shadow-2xl family">record</span>
                </th>
                <th scope="col" class="p-2 hidden xl:table-cell">
                    <span class="block text-xs">Détails du</span>
                    <span class="text-primary-400 mt-1 drop-shadow-2xl family">record</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr class="border-b border-gray-300 dark:border-gray-700">
                    <td class="p-2 text-sm table-cell">
                        {% if loop.index == 1 %}
                            <img class="w-8 h-8" src="{{ asset("uploads/gold.png") }}" alt="Image de pépite d'or">
                        {% elseif loop.index == 2 %}
                            <img class="w-8 h-8" src="{{ asset("uploads/iron.png") }}" alt="Image de pépite de fer">
                        {% elseif loop.index == 3 %}
                            <img class="w-8 h-8" src="{{ asset("uploads/bronze.png") }}" alt="Image de pépite de bronze">
                        {% else %}
                            <span class="pl-3">{{ loop.index }}</span>
                        {% endif %}
                    </td>
                    <td class="p-2 text-sm table-cell">
                        {% set profileImage = record.user.profilePicture ? ('images/profiles/' ~ record.user.profilePicture) : 'uploads/profil_thumb.png' %}
                        <a href="#" class="flex items-center group">
                            <div class="block rounded-full w-6 h-6 bg-cover bg-center border-2 border-gray-300 dark:border-gray-700 group-hover:border-primary-400 dark:hover:border-primary-400 transition duration-300" style="background-image:url('{{ asset(profileImage) }}')"></div>
                            <span class="hidden lg:block ml-2 font-normal group-hover:text-primary-400 transition duration-300">{{ record.user.pseudonymeDofus }}</span>
                        </a>
                    </td>
                    <td class="p-2 text-sm">
                        <div class="flex items-center">
                            {{ record.time|date('H:i:s') }}
                            <i data-feather="clock" class="ml-2 w-4 hidden lg:block"></i>
                        </div>
                    </td>
                    <td class="p-2 text-sm hidden xl:table-cell">
                        <div class="flex items-center">
                            {{ record.createdAt|date('d-m-Y') }}
                            <i data-feather="calendar" class="ml-2 w-4 hidden lg:block"></i>
                        </div>
                    </td>
                    <td class="p-2 text-sm xl:table-cell">
                        <a class="text-tertiary-400 hover:underline" href="{{ path('app_record_show', {'id': record.id}) }}">
                            <i data-feather="eye" class="w-5"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
