{% extends 'base.html.twig' %}

{% block title %}Admin | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Admin</h1>
    <main class="grid gap-4">
        <h2>Meilleurs items vendus par les joueurs :</h2>

        <section class="wrapper wrapper-style wrapper-p-0 text-sm">
            <table class="w-full text-left rtl:text-right">
                <thead class="text-xs uppercase">
                <tr class="border-b border-gray-300 dark:border-gray-700">
                    <th scope="col" class="p-2 ">
                        <span class="hidden sm:block text-xs">Nom de l'</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">object</span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="hidden sm:block text-xs">%</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">profit</span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="hidden sm:block text-xs">Date de</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">vente</span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="hidden sm:block text-xs">Prix d'</span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">achat</span>
                    </th>
                    <th scope="col" class="p-2 hidden xl:table-cell">
                        <span class="hidden sm:block text-xs">Prix de </span>
                        <span class="text-primary-400 text-lg mt-1 drop-shadow-2xl family">vente</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for sale in sales %}
                    {% set profit_percentage = (sale.sellPrice - sale.buyPrice) / sale.buyPrice * 100 %}
                    <tr class="border-b border-gray-300 dark:border-gray-700">
                        {% if sale.isSell %}
                            <td class="p-2 text-green-400">
                                {{ sale.resource.name }}
                            </td>
                        {% else %}
                            <td class="p-2 text-red-400">
                                {{ sale.resource.name }}
                            </td>
                        {% endif %}
                        <td class="p-2 hidden xl:table-cell">{{ profit_percentage|number_format(0, '.', ' ') }} %</td>
                        <td class="p-2 hidden xl:table-cell">{{ sale.sellDate ? sale.sellDate|date('d-m-Y') : 'Non vendu' }}</td>
                        <td class="p-2 hidden xl:table-cell">{{ sale.buyPrice|number_format(0, '.', ' ') }} k</td>
                        <td class="p-2 hidden xl:table-cell">{{ sale.sellPrice|number_format(0, '.', ' ') }} k</td>
                        <td class="p-2 hidden xl:table-cell">{{ sale.user.pseudonymeDofus }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
