<div class="p-4 grid gap-6">
    <div class="grid gap-2">
        <h3 class="text-center dark:text-orange-500 mt-1">{{ guild.name }}</h3>
        <p class="text-center">{{ guild.description }}</p>
    </div>
    <div class="grid-gap-2">
        <div class="flex justify-between">
            <div class="flex items-center">
                <i class="w-4 mr-2 text-primary-500" data-feather="server"></i>
                <p class="font-bold">Serveur : </p>
            </div>
            <p class="text-tertiary-400 font-bold">{{ guild.server }}</p>
        </div>
        <div class="flex justify-between">
            <div class="flex justify-between">
                <i class="w-4 mr-2 text-primary-500" data-feather="server"></i>
                <p class="font-bold">Membres : </p>
            </div>
            <p class="text-tertiary-400 font-bold">{{ guild.members|length }}</p>
        </div>
    </div>

    <div class="grid gap-2">
        {% if guild.discordUrl %}
            <a class="form-submit form-submit-discord uppercase" href="{{ guild.discordUrl }}">discord</a>
        {% endif %}
        {% if guild.websiteUrl %}
            <a class="form-submit form-submit-website uppercase" href="{{ guild.websiteUrl }}">site</a>
        {% endif %}

        <button id="members-btn"  class="form-submit">Voir les membres</button>

        {% if guild.leader == app.user %}
            <a class="form-submit form-submit-green" href="#">Modifier la guilde</a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if guild == app.user.guild %}
                <a href="{{ path('app_guild_leave', {'name': guild.name}) }}" id="members-btn" class="form-submit form-submit-youtube">Quitter la guilde</a>
            {% endif %}
        {% else %}
            <a href="{{ path('app_guild_join', {'name': guild.name}) }}" id="members-btn" class="form-submit">Rejoindre la guilde</a>
        {% endif %}
    </div>

</div>