{# templates/sale/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Ventes | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Ventes</h1>

    {{ include('includes/documentation.html.twig') }}

    <section class="wrapper wrapper-style">
        <div class="flex space-x-2">
            <a class="form-submit form-submit-green" href="{{ path('app_sale_new') }}">Nouvelle vente</a>
            <button class="form-submit" id="show-sold">Afficher les vendus</button>
            <button class="form-submit" id="show-unsold">Afficher les non vendus</button>
            <a class="form-submit form-submit-youtube" href="{{ path('app_sale') }}">Réinitialiser</a>
        </div>
    </section>

    {{ include('sale/includes/_items.html.twig') }}

    <form action="{{ path('app_sale') }}" method="get" class="grid gap-2">
        <label class="form-label" for="search">Recherchez une vente</label>
        <div class="flex space-x-2">
            <input value="{{ search }}" id="search" class="form-input h-full flex-1" type="text" name="search" placeholder="Solomonk" />
            <button class="wrapper wrapper-green h-14 w-14 flex justify-center font-semibold" type="submit">GO</button>

            <a class="wrapper wrapper-red h-14 w-14 flex justify-center" href="{{ path('app_sale') }}">
                <i data-feather="trash" class="w-4 h-4"></i>
            </a>
        </div>
    </form>

    <div class="flex justify-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    <section class="wrapper wrapper-style wrapper-p-0 text-sm">
        <table id="table" class="w-full text-left rtl:text-right">
            <thead class="text-xs uppercase">
            <tr class="border-b border-gray-300 dark:border-gray-700">

                <th scope="col" class="triable p-2 table-cell" data-column="0" data-type="string">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">Nom de l'</span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">object</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2 hidden xl:table-cell" data-column="1" data-type="number">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">%</span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">profit</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2 hidden xl:table-cell" data-column="2" data-type="date">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="sm:block text-xs">Date d'</span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">achat</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2 hidden xl:table-cell" data-column="3" data-type="date">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">Date de</span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">vente</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2 hidden xl:table-cell" data-column="4" data-type="number">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">Prix d'</span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">achat</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2 hidden xl:table-cell" data-column="5" data-type="number">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">Prix de </span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">vente</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2 hidden xl:table-cell" data-column="5" data-type="number">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">Quantité </span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">Stock</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2" data-column="6" data-type="string">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="hidden sm:block text-xs">Etat de </span>
                            <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">vente</span>
                        </div>
                        <i class="triable-icon text-gray-300 hover:text-gray-400 dark:text-gray-600 dark:hover:text-gray-500" data-feather="filter"></i>
                    </div>
                </th>

                <th scope="col" class="triable p-2">
                    <span class="hidden sm:block text-xs">Liste d'</span>
                    <span class="text-primary-400 text-xs md:text-lg mt-1 drop-shadow-2xl family">actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for sale in pagination %}
                {% if sale.buyPrice == 0 %}
                    {# Ici, vous pouvez choisir ce que vous voulez faire si buyPrice est 0. Par exemple, fixer le profit_percentage à 100 ou à une autre valeur spéciale. #}
                    {% set profit_percentage = 100 %}
                {% else %}
                    {# Si buyPrice n'est pas 0, utilisez la formule normale pour calculer le profit_percentage. #}
                    {% set profit_percentage = (sale.sellPrice - sale.buyPrice) / sale.buyPrice * 100 %}
                {% endif %}
                <tr class="border-b border-gray-300 dark:border-gray-700 {{ sale.isSell ? 'is-sold' : 'not-sold' }}">
                    <td class="p-2 {{ sale.isSell ? 'text-green-400' : 'text-red-400' }}">{{ sale.resource.name }}</td>
                    <td class="p-2 hidden xl:table-cell">{{ profit_percentage|number_format(0, '.', ' ') }} %</td>
                    <td class="p-2 hidden xl:table-cell">{{ sale.buyDate|date('d-m-Y') }}</td>
                    <td class="p-2 hidden xl:table-cell">{{ sale.sellDate ? sale.sellDate|date('d-m-Y') : 'Non vendu' }}</td>
                    <td class="p-2 hidden xl:table-cell">{{ sale.buyPrice|number_format(0, '.', ' ') }} k</td>
                    <td class="p-2 hidden xl:table-cell">{{ sale.sellPrice|number_format(0, '.', ' ') }} k</td>
                    <td class="p-2 hidden xl:table-cell">{{ sale.stock }}</td>
                    <td class="p-2 {{ sale.isSell ? 'text-green-500' : 'text-red-500' }}">{{ sale.isSell? 'OUI' : 'NON' }}</td>
                    <td class="p-2 table-cell">
                        <div class="flex items-center">
                            <a href="{{ path('app_sale_edit', {'id' : sale.id}) }}">
                                <i data-feather="edit" class="text-tertiary w-4 h-4 hover:text-tertiary-300 transition duration-300"></i>
                            </a>
                            <form action="{{ path('app_sale_copy', {'id': sale.id}) }}" method="post" class="flex items-center">
                                <input type="hidden" name="_token" value="{{ csrf_token('copy' ~ sale.id) }}">
                                <button type="submit" class="btn btn-primary">
                                    <i data-feather="copy" class="text-green-500 w-4 h-4 ml-2 hover:text-red-300 transition duration-300"></i>
                                </button>
                            </form>
                            <form action="{{ path('app_sale_delete', {'id': sale.id}) }}" method="post" class="flex items-center">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sale.id) }}">
                                <button type="submit" class="btn btn-danger">
                                    <i data-feather="trash" class="text-red-500 w-4 h-4 ml-2 hover:text-red-300 transition duration-300"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center pb-16">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('triable') }}
{% endblock %}