{{ form_start(form, {'attr': {'class': 'grid gap-4'}}) }}
    {{ form_row(form.resource) }}
    <ul class="prices grid gap-4"
        data-index="{{ form.prices|length > 0 ? form.prices|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.prices.vars.prototype)|e('html_attr') }}"
    >
        {{ form_label(form.prices) }}
        {{ form_widget(form.prices) }}
    </ul>
    <div>
        <button type="button" class="add_item_link form-submit form-submit-green " data-collection-holder-class="prices">Ajouter un prix</button>
    </div>
    {{ form_widget(form.submit) }}
{{ form_end(form) }}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const collectionHolder = document.querySelector('.prices');
        collectionHolder.addEventListener('click', function(e) {
            let li = e.target.closest('li'); // Trouver l'élément li le plus proche
            if (li) {
                li.remove(); // Supprimer l'élément li
            }
        });

        document.querySelector('.add_item_link').addEventListener("click", () => {
            const item = document.createElement('li');
            item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);
            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
        });
    });
</script>