{{ form_start(form, {'attr': {'class': 'form-wrapper'}}) }}
<div class="grid lg:grid-cols-2 gap-4 lg:gap-6">
    <div class="lg:col-span-2">
        {{ form_row(form.resource) }}
    </div>
    {{ form_row(form.buyPrice) }}
    {{ form_row(form.sellPrice) }}
    {{ form_row(form.buyDate) }}
    {{ form_row(form.sellDate) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.isSell) }}
    <div class="lg:col-span-2">
        {{ form_widget(form.submit) }}
    </div>
</div>
{{ form_end(form) }}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById('sale_isSell').addEventListener('change', function() {
            const dateVenteField = document.getElementById('sale_sellDate');

            if (this.checked) {
                const now = new Date();
                const year = now.getFullYear();
                const month = String(now.getMonth() + 1).padStart(2, '0'); // Janvier est 0
                const day = String(now.getDate()).padStart(2, '0');
                const hours = String(now.getHours()).padStart(2, '0');
                const minutes = String(now.getMinutes()).padStart(2, '0');

                dateVenteField.value = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
            } else {
                dateVenteField.value = '';
            }
        });
    });
</script>
