{{ form_start(form, {'attr': {'class': 'form-wrapper'}}) }}
<div class="grid lg:grid-cols-2 gap-4 lg:gap-6">
    <div class="lg:col-span-2">
        {{ form_row(form.resource) }}
    </div>

    {{ form_row(form.buyPrice) }}
    {{ form_row(form.sellPrice) }}
    {{ form_row(form.buyDate) }}
    {{ form_row(form.sellDate) }}
    {{ form_row(form.isSell) }}
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}
