<section class="grid gap-4 lg:grid-cols-2 lg:gap-6 2xl:grid-cols-4">
    <div class="wrapper wrapper-green flex justify-between items-center text-white font-semibold">
        <h2>Investi :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ totalBuyPrice|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-orange flex justify-between items-center text-white font-semibold">
        <h2>En attente :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ totalSellPrice|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-red flex justify-between items-center text-white font-semibold">
        <h2>Taxe HDV :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-blue flex justify-between items-center text-white font-semibold">
        <h2>Profit net :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-pink flex justify-between items-center text-white font-semibold">
        <h2>Profit % :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-pink flex justify-between items-center text-white font-semibold">
        <h2>Mis en vente :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-red flex justify-between items-center text-white font-semibold">
        <h2>Taxe HDV :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-yellow flex justify-between items-center text-white font-semibold">
        <h2>Profit en attente :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>
</section>