<section class="grid gap-2 lg:grid-cols-2 2xl:grid-cols-4">
    <div class="wrapper wrapper-green flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Investi :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ stats.totalBuyPrice|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-green flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Profit net :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ stats.profit|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-green flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Profit % :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ stats.percentProfit|number_format(0, '.', ' ') }}
                {% endif %}

                %
            </p>
        </div>
    </div>

    <div class="wrapper wrapper-green flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Mis en vente :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ stats.totalSellPrice|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-blue flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Total items :</h2>

        <p class="text-lg">
            {% if noSales %}
                O
            {% else %}
                {{ stats.totalSaleCount }}
            {% endif %}
        </p>
    </div>

    <div class="wrapper wrapper-blue flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Total items vendus :</h2>

        <p class="text-lg">
            {% if noSales %}
                O
            {% else %}
                {{ stats.totalSaled }}
            {% endif %}
        </p>
    </div>

    <div class="wrapper wrapper-red flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Taxe HDV :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ stats.taxe|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>

    <div class="wrapper wrapper-orange flex justify-between items-center text-white font-semibold">
        <h2 class="text-sm uppercase">Total ventes en attente :</h2>

        <div class="flex items-center">
            <p class="text-lg">
                {% if noSales %}
                    O
                {% else %}
                    {{ stats.totalPendingPrice|number_format(0, '.', ' ') }}
                {% endif %}
            </p>
            <img class="ml-2 h-6 w-6" src="{{ asset('uploads/kamas.webp') }}" alt="Icone kamas">
        </div>
    </div>
</section>