<div class="grid gap-2">
    <p class="text-green-400 font-bold">Prix moyen :</p>

    <hr class="border-gray-300 mt-6 mb-6">

    <div class="flex justify-between">
        <div class="font-light">
            Lot de
            <span class="font-semibold text-primary-500 uppercase">1</span>
            :
        </div>
        <span class="flex items-center tracking-widest">
            <span class="flex items-center tracking-widest">
                {% set formattedNumber = data.averagePriceUnit|number_format(0, ',', ' ') %}
                <span class="font-bold text-green-400 align-middle">{{ formattedNumber }}</span>
                <img class="w-4 h-4 ml-2 mb-0.5" src="{{ asset("uploads/kamas.webp") }}" alt="Icone kamas">
            </span>
        </span>
    </div>

    <div class="flex justify-between">
        <div class="font-light">
            Lot de
            <span class="font-semibold text-primary-500 uppercase">10</span>
            :
        </div>
        <span class="flex items-center tracking-widest">
            <span class="flex items-center tracking-widest">
                {% set formattedNumber = data.averagePriceTen|number_format(0, ',', ' ') %}
                <span class="font-bold text-green-400 align-middle">{{ formattedNumber }}</span>
                <img class="w-4 h-4 ml-2 mb-0.5" src="{{ asset("uploads/kamas.webp") }}" alt="Icone kamas">
            </span>
        </span>
    </div>

    <div class="flex justify-between">
        <div class="font-light">
            Lot de
            <span class="font-semibold text-primary-500 uppercase">100</span>
            :
        </div>
        <span class="flex items-center tracking-widest">
            <span class="flex items-center tracking-widest">
                {% set formattedNumber = data.averagePriceHundred|number_format(0, ',', ' ') %}
                <span class="font-bold text-green-400 align-middle">{{ formattedNumber }}</span>
                <img class="w-4 h-4 ml-2 mb-0.5" src="{{ asset("uploads/kamas.webp") }}" alt="Icone kamas">
            </span>
        </span>
    </div>
</div>