{% extends 'base.html.twig' %}

{% block title %}Ressources | {{ parent() }}{% endblock %}

{% block body %}
<main class="grid gap-4 lg:gap-6">
    <h1 class="text-center">Vos ressources</h1>

    {{ include('includes/documentation.html.twig') }}

    <div class="flex justify-center">
        <a class="col-span-1 form-submit" href="{{ path('app_monitor_new') }}">Créer un moniteur</a>
    </div>

    <section class="grid gap-4 lg:grid-cols-3 xl:grid-cols-4">
        {% for data in averages %}
            <a href="{{ path('app_resource_show', {'id': data.resourceId}) }}" class="wrapper wrapper-style hover:shadow-2xl transition duration-300 relative grid gap-2">
                <div class="flex justify-between">
                    <h3 class="text-2xl font-bold w-full">{{ data.resourceName }}</h3>
                    <img class="w-8 h-8" src="{{ data.resourceImg }}" alt="Image ressource dofus">
                </div>

                <div class="flex">
                    {{ include('resource/includes/_details.html.twig') }}
                </div>

                <div class="bg-secondary absolute top-0 left-0 w-full h-full opacity-0 hover:opacity-100 bg-opacity-80 backdrop-blur-xl transition duration-300 flex items-center justify-center">
                    <p class="text-white text-lg font-bold family underline">Voir</p>
                </div>
            </a>
        {% endfor %}
    </section>
</main>

{% endblock %}
