{% extends 'base.html.twig' %}

{% block title %}Ressources | {{ parent() }}{% endblock %}

{% block body %}
<main class="grid gap-4 lg:gap-6">
    <h1 class="text-center">Vos ressources</h1>
    <div class="flex justify-center">
        <a class="col-span-1 form-submit" href="{{ path('app_monitor_new') }}">Créer un moniteur</a>
    </div>

    <section class="grid gap-4 lg:gap-6 lg:grid-cols-2 xl:grid-cols-3">
        {% for data in averages %}
            <a href="{{ path('app_resource_show', {'id': data.resourceId}) }}" class="wrapper wrapper-style text-center grid gap-4 lg:gap-6">
                <h3 class="text-2xl font-bold">{{ data.resourceName }}</h3>
                <img class="w-16 h-16 m-auto" src="{{ data.resourceImg }}" alt="Image ressource dofus">

                <div class="grid gap-2">
                    <p class="text-green-400 font-bold">Prix moyen :</p>

                    <hr class="border-gray-300 mt-6 mb-6">

                    <div class="flex justify-between">
                        <div class="font-light">
                            Lot de
                            <span class="font-semibold text-primary-500 uppercase">1</span>
                            :
                        </div>
                        <span class="flex items-center tracking-widest">
                            <span class="flex items-center tracking-widest">
                                {% set formattedNumber = data.averagePriceUnit|number_format(0, ',', ' ') %}
                                <span class="font-bold text-green-400 align-middle">{{ formattedNumber }}</span>
                                <img class="w-4 h-4 ml-2 mb-0.5" src="{{ asset("uploads/kamas.webp") }}" alt="Icone kamas">
                            </span>
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <div class="font-light">
                            Lot de
                            <span class="font-semibold text-primary-500 uppercase">10</span>
                            :
                        </div>
                        <span class="flex items-center tracking-widest">
                            <span class="flex items-center tracking-widest">
                                {% set formattedNumber = data.averagePriceTen|number_format(0, ',', ' ') %}
                                <span class="font-bold text-green-400 align-middle">{{ formattedNumber }}</span>
                                <img class="w-4 h-4 ml-2 mb-0.5" src="{{ asset("uploads/kamas.webp") }}" alt="Icone kamas">
                            </span>
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <div class="font-light">
                            Lot de
                            <span class="font-semibold text-primary-500 uppercase">100</span>
                            :
                        </div>
                        <span class="flex items-center tracking-widest">
                            <span class="flex items-center tracking-widest">
                                {% set formattedNumber = data.averagePriceHundred|number_format(0, ',', ' ') %}
                                <span class="font-bold text-green-400 align-middle">{{ formattedNumber }}</span>
                                <img class="w-4 h-4 ml-2 mb-0.5" src="{{ asset("uploads/kamas.webp") }}" alt="Icone kamas">
                            </span>
                        </span>
                    </div>
                </div>


            </a>
        {% endfor %}
    </section>
</main>

{% endblock %}
