{% extends 'base.html.twig' %}

{% block title %}Détails de la Ressource{% endblock %}

{% block body %}
    <h1>Détails de la Ressource: {{ resource.name }}</h1>

    {% for data in averages %}
        
    {% endfor %}

    <div class="wrapper-style">
        <h2>Courbe des trois lots</h2>
        {{ render_chart(combinedChart) }}
    </div>

    <section class="grid lg:grid-cols-3 gap-4">
        <div class="wrapper-style">
            <h2>Graphique pour 1</h2>
            {{ render_chart(chartPer1) }}
        </div>

        <div class="wrapper-style">
            <h2>Graphique pour 10</h2>
            {{ render_chart(chartPer10) }}
        </div>

        <div class="wrapper-style">
            <h2>Graphique pour 100</h2>
            {{ render_chart(chartPer100) }}
        </div>
    </section>

    {# Autres détails de la ressource #}
{% endblock %}
