<!DOCTYPE html>
<html class="dark" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Monifus, le moniteur Dofus{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="{{ asset('uploads/logo.ico') }}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Fraunces:opsz@9..144&display=swap" rel="stylesheet">

    <!-- Primary Meta Tags -->
    <title>Monifus | Le Moniteur Dofus</title>
    <meta name="title" content="Monifus | Le Moniteur Dofus" />
    <meta name="description" content="Monifus est un fansite regroupant divers outils pour les joueurs de Dofus." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://monifus.fr/" />
    <meta property="og:title" content="Monifus | Le Moniteur Dofus" />
    <meta property="og:description" content="Monifus est un fansite regroupant divers outils pour les joueurs de Dofus." />
    <meta property="og:image" content="{{ asset('uploads/banner.png') }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://monifus.fr/" />
    <meta property="twitter:title" content="Monifus | Le Moniteur Dofus" />
    <meta property="twitter:description" content="Monifus est un fansite regroupant divers outils pour les joueurs de Dofus." />
    <meta property="twitter:image" content="{{ asset('uploads/banner.png') }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('randomAdvice') }}
        {{ encore_entry_script_tags('popup') }}
    {% endblock %}

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>

<body class="bg-cover bg-center bg-fixed flex">
    <div {{ react_component('ThemeToggle') }}></div>
    {% include('includes/sidebar.html.twig') %}
    {% include('includes/footer.html.twig') %}

    <div id="popup" class="fixed items-center justify-center bg-gray-800 bg-opacity-50 z-50 h-screen w-screen top-0 left-0 hidden">
        <div class="wrapper wrapper-style m-4 grid gap-4 max-w-xs">
            <img class="w-8 h-8 m-auto" src="{{ asset(('uploads/logo.svg')) }}" alt="Logo Monifus">
            <p class="">Le site est en cours de développement, vous pouvez donc rencontrer des bugs. Merci de le signaler via le <a class="text-discord font-semibold" href="https://discord.gg/KVZP5Cyf9Q">discord</a> ou d'attendre un correctif. Merci pour votre compréhension. 🧡</p>
            <hr>
            <p>L'équipe Monifus.</p>
            <button class="form-submit popup-close">OK</button>
        </div>
    </div>

    <section class="flex-1 w-[calc(100%-74px)] p-4 space-y-4 md:space-y-6 pb-8">
        {% include('includes/navbar.html.twig') %}
        {{ wo_render_breadcrumbs() }}
        {% block body %}


        {% endblock %}
    </section>

    <div id="advicePopup" class="popup bg-green-100 border-t-4 border-green-500 rounded-lg text-green-900 px-4 py-3 shadow-md" role="alert">
        <div class="popup-content flex">
            <div class="py-1 mr-4">
                <i data-feather="help-circle" class="text-primary-600"></i>
            </div>
            <div>
                <p class="font-bold">Point Conseil !</p>
                <p id="adviceText" class="text-sm">Make sure you know how these changes affect you.</p>
            </div>
            <i data-feather="x" class="close-btn"></i>
        </div>
    </div>
</body>
</html>