{% extends 'base.html.twig' %}

{% block title %}Monitor | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Liste des Ressources</h1>

    {% if resources is not empty %}
    <div id="resourcesContainer">
        {% for resource in resources %}
            <div id="resource-container-{{ resource.id }}" class="resource" data-resource-id="{{ resource.id }}">
                <!-- Ajouter d'autres détails si nécessaire -->
                <button type="button" class="loadMonitorsBtn" data-resource-id="{{ resource.id }}">
                    {{ resource.name }}
                    <img src="{{ resource.imgUrl }}" alt="">
                </button>
            </div>
        {% endfor %}
    </div>
    <div id="monitorsContainer">
        <!-- Les moniteurs seront chargés ici -->
    </div>
    {% else %}
        <p>Pour ajouter une ressource cliquez sur le bouton</p>
        <a href="{{ path('app_monitor_new') }}">Créer Moniteur</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('monitorAjax') }}
{% endblock %}
