{% extends 'base.html.twig' %}

{% block title %}Détails du Moniteur{% endblock %}

{% block body %}
    <h1>{{ monitor.resource.name }}</h1>
    <img src="{{ monitor.resource.imgUrl }}" alt="">
    <div>
        <p>Average Price One: {{ aggregates.avgPriceOne }}</p>
        <p>Average Price Ten: {{ aggregates.avgPriceTen }}</p>
        <p>Average Price Hundred: {{ aggregates.avgPriceHundred }}</p>
        <p>Price Count: {{ aggregates.priceCount }}</p>
    </div>
    {% if monitor.prices is defined %}
        <div>
            {% for price in monitor.prices %}
                <div>
                    <p>Price One: {{ price.priceOne }}</p>
                    <p>Price Ten: {{ price.priceTen }}</p>
                    <p>Price Hundred: {{ price.priceHundred }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}