{% extends 'base.html.twig' %}

{% block title %}Guifus | {{ parent() }}{% endblock %}

{% block body %}
    <div class="flex justify-center flex-col items-center space-y-4">
        {% for message in app.flashes('error') %}
            <p class="wrapper wrapper-style wrapper-red">{{ message }}</p>
        {% endfor %}

        {% if isUserLoggedIn %}
            {% if userGuild %}
                {# Lien vers la page de la guilde de l'utilisateur #}
                <a class="form-submit" href="{{ path('app_guild_show', {'name': userGuild.name|replace({' ': '_'})}) }}">{{ userGuild.name }}</a>
                <a class="form-submit form-submit-youtube" href="{{ path('app_guild_leave', {'name': userGuild.name}) }}">Quitter ma guilde</a>
            {% else %}
                {# Bouton pour créer une guilde #}
                <a class="form-submit" href="{{ path('app_guild_new') }}">Créer une guilde</a>
            {% endif %}
        {% else %}
            {# Proposer de créer une guilde #}
            <a class="form-submit" href="{{ path('app_guild_new') }}">Créer une guilde</a>
        {% endif %}
    </div>

    <section class="wrapper wrapper-style grid gap-4">
        <h2>Liste des guildes</h2>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for guild in guilds %}
                {# Afficher les informations de chaque guilde #}
                <a href="{{ path('app_guild_show', {'name': guild.name|replace({' ': '_'})}) }}" class="border rounded-lg border-gray-300 dark:border-gray-700 overflow-hidden group">
                    <div class="relative">
                        {% if guild.coverPicture %}
                            <img class="h-32 w-full object-cover" src="{{ asset("guilds/covers/" ~ guild.coverPicture) }}" alt="Image de couverture">
                        {% else %}
                            <img class="h-32 w-full object-cover" src="https://i81.servimg.com/u/f81/16/03/11/75/osmoz10.jpg" alt="Image de couverture">
                        {% endif %}

                        {% if guild.blasonPicture %}
                            <img class="h-24 absolute z-10 left-1/2 transform -translate-x-1/2 top-[calc(100%-5rem)]" src="{{ asset("guilds/blasons/" ~ guild.blasonPicture) }}" alt="Image Blason">
                        {% else %}
                            <img class="h-24 absolute z-10 left-1/2 transform -translate-x-1/2 top-[calc(100%-5rem)]" src="{{ asset("uploads/blason.png") }}" alt="Image Blason">
                        {% endif %}
                    </div>
                    <div class="p-4 grid gap-2">
                        <h3 class="text-center dark:text-orange-500">{{ guild.name }}</h3>
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <i class="w-4 mr-2 text-primary-500" data-feather="server"></i>
                                <p class="font-bold">Serveur : </p>
                            </div>
                            <p class="text-tertiary-400 font-bold">{{ guild.server }}</p>
                        </div>
                        <div class="flex justify-between">
                            <div class="flex justify-between">
                                <i class="w-4 mr-2 text-primary-500" data-feather="users"></i>
                                <p class="font-bold">Membres : </p>
                            </div>
                            <p class="text-green-400 font-bold">{{ guild.members|length }}</p>
                        </div>
                        <button class="form-submit mx-auto">Voir</button>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
