{% extends 'base.html.twig' %}

{% block title %}Documentation | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Documentation</h1>
        <section class="grid gap-4">
            <div class="flex justify-center wrapper wrapper-style">
                <nav class="tabs">
                    <div class="tab-item active">
                        <i class="tab-item-icon" data-feather="activity"></i>
                        <span>Moniteurs</span>
                    </div>
                    <div class="tab-item">
                        <i class="tab-item-icon" data-feather="shopping-cart"></i>
                        <span>Ventes</span>
                    </div>
                    <div class="tab-item">
                        <i class="tab-item-icon" data-feather="award"></i>
                        <span>Records</span>
                    </div>
                    <div class="tab-item">
                        <i class="tab-item-icon" data-feather="shield"></i>
                        <span>Guildes</span>
                    </div>
                </nav>
            </div>

            <div class="tab-content wrapper wrapper-style">
                {{ include('documentation/includes/_monitors.html.twig') }}
                {{ include('documentation/includes/_sales.html.twig') }}
                {{ include('documentation/includes/_records.html.twig') }}
                {{ include('documentation/includes/_guilds.html.twig') }}
            </div>
        </section>
    <script>
        // Cache the selectors
        const tabs = document.querySelectorAll('.tab-item');
        const panes = document.querySelectorAll('.tab-pane');

        // Initialize the line position and width
        const activeTab = document.querySelector('.tab-item.active');

        // Attach click event listeners to tabs
        tabs.forEach((tab, index) => {
            tab.addEventListener('click', function() {
                // Find and deactivate the currently active elements
                const activeTab = document.querySelector('.tab-item.active');
                const activePane = document.querySelector('.tab-pane.active');
                if (activeTab) {
                    activeTab.classList.remove('active');
                }
                if (activePane) {
                    activePane.classList.remove('active');
                }

                // Activate the clicked tab and corresponding pane
                this.classList.add('active');
                const pane = panes[index];
                if (pane) {
                    pane.classList.add('active');
                }
            });
        });

    </script>
{% endblock %}
